// vim: set ft=javascript:

//the name of the model
module.exports.provides = 'Example';
//provides an sequelize instance for this model
module.exports.create = (sequelize, db) => {
    //return db.define('image', {
        //filename: {
            //type: sequelize.STRING,
            //allowNull: false,
            //unique: true
        //},
        //contentType: {
            //type: sequelize.STRING,
            //allowNull: false
        //}
    //});
}

//this function is called after all models have been
//created via create().
//context contains all these created modules as a mapping between
//module.provides => module.create()
module.exports.relations = (context) => {
        

}
